---
import Layout from "@/layouts/layout.astro"

const title = ""
const description = ""
const canonical = "https://streamfighters4.vercel.app/404/"
---

<Layout title={title} description={description} canonical={canonical}>
  <h1>
    <span>404</span>
    <span>Tus guantes están listos</span>
  </h1>
</Layout>

<style>
  h1 {
    text-align: center;
  }

  h1 > span:first-child {
    display: block;
    font-size: 200px;
    letter-spacing: 2px;
    line-height: normal;
  }
</style>
