---
import Layout from "@/layouts/layout.astro"
import Background from "@/components/background.astro"
import EventInfo from "@/components/event-info.astro"
import SelectedFighter from "@/components/selected-fighter.astro"
import FightersSelectorDesktop from "@/components/fighters-selector-desktop.astro"
import FightersSelectorMobile from "@/components/fighters-selector-mobile.astro"
---

<Layout
  title="Stream fighters 4 - Evento de boxeo entre streamers creado por Westcol"
  description="El evento de boxeo amateur y música más grande de Latinoamérica, creado y presentado por WestCol. Explora los combates, conoce a los peleadores y haz tus predicciones."
  canonical="https://www.streamfighters.vercel.app"
>
  <section id="hero-section" class="hero-section">
    <Background />
    <EventInfo />
    <div class="fighter-selector-wrapper">
      <SelectedFighter />
      <FightersSelectorDesktop />
    </div>
    <FightersSelectorMobile />
  </section>
</Layout>

<style>
  .hero-section {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 250px;
    min-block-size: 100svh;
    padding: var(--app-padding);
  }

  .fighter-selector-wrapper {
    position: relative;
    inline-size: fit-content;
    margin-inline: auto;
  }

  @media screen and (max-width: 768px) {
    .hero-section {
      row-gap: 50px;
    }

    .fighter-selector-wrapper {
      position: absolute;
      inset: 0;
      inline-size: auto;
    }
  }
</style>
