---
import FighterSelectorCard from "@/components/fighter-selector-card.astro"
import { fighters } from "@/data/fighters"
---

<div class="fighter-selector-desktop">
  {
    fighters.map((data) => (
      <div style={{ "--grid-area": data.id }} class="fighter-card-wrapper">
        <FighterSelectorCard {...data} />
      </div>
    ))
  }
</div>

<style>
  .fighter-selector-desktop {
    display: grid;
    grid-template-areas:
      "thenino milica shelao andrea-valdiri belosmaki may-osorio byking"
      "empty1 karina-garcia jh-de-la-cruz yina-calderon cristorata karely-ruiz empty2";
    gap: clamp(0.813rem, 0.604rem + 0.434vw, 1.125rem);
  }

  .fighter-card-wrapper {
    grid-area: var(--grid-area);
    inline-size: clamp(5.625rem, 1.478rem + 8.627vi, 7rem);
    transition: opacity 150ms;
  }

  .fighter-selector-desktop:has(:hover, :focus-visible)
    .fighter-card-wrapper:not(:has(:hover, :focus-visible, [data-is-versus="1"])) {
    filter: grayscale(0.7);
    opacity: 0.6;
  }

  .fighter-card-wrapper.disable {
    pointer-events: none;
    opacity: 0.6;
  }

  @media screen and (max-width: 768px) {
    .fighter-selector-desktop {
      display: none;
    }
  }
</style>
