---
import FighterSelectorCard from "@/components/fighter-selector-card.astro"
import { desktopFighters } from "@/data/fighters"
---

<div class="fighter-selector-desktop">
  {
    desktopFighters.map((data) => (
      <div style={{ "--grid-area": data.id }} class="fighter-card-wrapper">
        <FighterSelectorCard {...data} />
      </div>
    ))
  }
</div>

<style>
  .fighter-selector-desktop {
    display: grid;
    grid-template-areas:
      "thenino milica shelao jh-de-la-cruz cristorata belosmaki may-osorio byking"
      "empty1 karina-garcia yina-calderon westcol incognito andrea-valdiri karely-ruiz empty2";
    gap: clamp(0.813rem, 0.688rem + 0.26vw, 1rem);
  }

  .fighter-selector-desktop:has(:hover, :focus-visible)
    .fighter-card-wrapper:not(:has(:hover, :focus-visible, [data-is-versus="1"])) {
    filter: grayscale(0.7);
    opacity: 0.6;
  }

  .fighter-card-wrapper {
    grid-area: var(--grid-area);
    inline-size: clamp(5.625rem, 5.042rem + 1.215vw, 6.5rem);
    transition: opacity 150ms;
    animation: slide-fade-in 600ms ease-out;
  }

  @media screen and (max-width: 885px) {
    .fighter-selector-desktop {
      grid-template-areas:
        "milica shelao jh-de-la-cruz yina-calderon cristorata belosmaki may-osorio"
        "thenino karina-garcia westcol andrea-valdiri incognito karely-ruiz byking";
    }
  }

  @media screen and (max-width: 768px) {
    .fighter-selector-desktop {
      display: none;
    }
  }
</style>
