---
import FighterSelectorCard from "@/components/fighter-selector-card.astro"
---

<div class="fighter-selector-desktop">
  <div class="fighter-card">
    <FighterSelectorCard />
  </div>
  <div class="fighter-card">
    <FighterSelectorCard />
  </div>
  <div class="fighter-card">
    <FighterSelectorCard />
  </div>
  <div class="fighter-card">
    <FighterSelectorCard />
  </div>
  <div class="fighter-card">
    <FighterSelectorCard />
  </div>
  <div class="fighter-card">
    <FighterSelectorCard />
  </div>
  <div class="fighter-card">
    <FighterSelectorCard />
  </div>
  <div class="fighter-card">
    <FighterSelectorCard data-is-versus="1" />
  </div>
  <div class="fighter-card">
    <FighterSelectorCard />
  </div>
  <div class="fighter-card">
    <FighterSelectorCard />
  </div>
  <div class="fighter-card">
    <FighterSelectorCard />
  </div>
  <div class="fighter-card">
    <FighterSelectorCard />
  </div>
  <div class="fighter-card">
    <FighterSelectorCard />
  </div>
  <div class="fighter-card">
    <FighterSelectorCard />
  </div>
</div>

<style>
  .fighter-selector-desktop {
    display: grid;
    grid-template-areas:
      "the-nino milica shelao jh-escobar cristo-rata belosmaki may-osorio by-king"
      "empty karina yina-calderon westcol incognito andrea-valdiri karely empty2";
    gap: clamp(0.813rem, 0.688rem + 0.26vw, 1rem);
  }

  .fighter-selector-desktop:has(:hover, :focus-visible)
    .fighter-card:not(:has(:hover, :focus-visible, [data-is-versus="1"])) {
    filter: grayscale(0.7);
    opacity: 0.6;
  }

  .fighter-card {
    inline-size: clamp(5.625rem, 5.042rem + 1.215vw, 6.5rem);
    transition: opacity 150ms;
  }

  .fighter-card:nth-of-type(1) {
    grid-area: the-nino;
  }

  .fighter-card:nth-of-type(2) {
    grid-area: milica;
  }

  .fighter-card:nth-of-type(3) {
    grid-area: shelao;
  }

  .fighter-card:nth-of-type(4) {
    grid-area: jh-escobar;
  }

  .fighter-card:nth-of-type(5) {
    grid-area: cristo-rata;
  }

  .fighter-card:nth-of-type(6) {
    grid-area: belosmaki;
  }

  .fighter-card:nth-of-type(7) {
    grid-area: may-osorio;
  }

  .fighter-card:nth-of-type(8) {
    grid-area: by-king;
  }

  .fighter-card:nth-of-type(9) {
    grid-area: karina;
  }

  .fighter-card:nth-of-type(10) {
    grid-area: yina-calderon;
  }

  .fighter-card:nth-of-type(11) {
    grid-area: westcol;
  }

  .fighter-card:nth-of-type(12) {
    grid-area: incognito;
  }

  .fighter-card:nth-of-type(13) {
    grid-area: andrea-valdiri;
  }

  .fighter-card:nth-of-type(14) {
    grid-area: karely;
  }

  @media screen and (max-width: 885px) {
    .fighter-selector-desktop {
      grid-template-areas:
        "milica shelao jh-escobar yina-calderon cristo-rata belosmaki may-osorio"
        "the-nino karina westcol andrea-valdiri incognito karely by-king";
    }

    .fighter-card:nth-of-type(1) {
      grid-area: milica;
    }

    .fighter-card:nth-of-type(2) {
      grid-area: shelao;
    }

    .fighter-card:nth-of-type(3) {
      grid-area: jh-escobar;
    }

    .fighter-card:nth-of-type(4) {
      grid-area: yina-calderon;
    }

    .fighter-card:nth-of-type(5) {
      grid-area: cristo-rata;
    }

    .fighter-card:nth-of-type(6) {
      grid-area: belosmaki;
    }

    .fighter-card:nth-of-type(7) {
      grid-area: may-osorio;
    }

    .fighter-card:nth-of-type(8) {
      grid-area: the-nino;
    }

    .fighter-card:nth-of-type(9) {
      grid-area: karina;
    }

    .fighter-card:nth-of-type(10) {
      grid-area: westcol;
    }

    .fighter-card:nth-of-type(11) {
      grid-area: andrea-valdiri;
    }

    .fighter-card:nth-of-type(12) {
      grid-area: incognito;
    }

    .fighter-card:nth-of-type(13) {
      grid-area: karely;
    }

    .fighter-card:nth-of-type(14) {
      grid-area: by-king;
    }
  }

  @media screen and (max-width: 768px) {
    .fighter-selector-desktop {
      display: none;
    }
  }
</style>
