---
import { type Sponsor } from "@/types/sponsors"

interface Props {
  sponsors: Sponsor[]
}

const { sponsors } = Astro.props
---

<div>
  {
    sponsors.map(({ name, logo, url }) => (
      <a
        class="sponsor-link"
        href={url}
        aria-label={`Visitar la web del patrocinador ${name}`}
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src={logo} alt={`Logo de ${name}`} height={35} loading="lazy" />
      </a>
    ))
  }
</div>

<style>
  div {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-block-end: 42px;
  }

  div:last-of-type {
    padding-block-end: 0;
  }

  .sponsor-link {
    padding: 8px;
  }

  .sponsor-link > img {
    transition: transform 250ms;
  }

  .sponsor-link:hover > img {
    transform: translateY(-4px);
  }
</style>
