<section class="wrapper">
  <h1 class="title">
    Stream Fighters
    <span class="edition">4</span>
  </h1>
  <p class="description">
    El evento de boxeo amateur, y música más grande de Latinoamérica. Es la cuarta edición del
    evento de boxeo amateur entre creadores de contenido más grande y esperado de Latinoamérica,
    donde los participantes dejan las pantallas para subirse al ring y demostrar su preparación
    física y mental en combates reales, transmitidos en vivo. El evento es creado y presentado por
    WestCol, el streamer número uno de Colombia y una de las figuras más influyentes del mundo
    digital en habla hispana.
  </p>
</section>

<style>
  .wrapper {
    padding: clamp(6.25rem, 5.492rem + 3.236vw, 9.375rem) var(--app-padding);
    inline-size: fit-content;
    margin-inline: auto;
  }

  .title {
    padding-block-end: 12px;
    font-size: clamp(3rem, 2.788rem + 0.906vw, 3.875rem);
    font-family: var(--primary-font);
    line-height: normal;
  }

  .edition {
    color: hsl(0 100% 50%);
  }

  .description {
    max-inline-size: 60ch;
    font-size: clamp(1rem, 0.939rem + 0.259vw, 1.25rem);
    font-weight: 500;
  }

  .title,
  .description {
    text-align: center;
  }
</style>
