---
import SponsorsWrapper from "@/components/sponsors-wrapper.astro"
import { sponsors } from "@/data/sponsors"

const { officialSponsors, supportedBy, createdBy, organizedBy } = sponsors
---

<section>
  <h2 class="title">Patrocionadores y colaboradores</h2>
  <SponsorsWrapper sponsors={officialSponsors} />
  <SponsorsWrapper sponsors={supportedBy} />
  <SponsorsWrapper sponsors={createdBy} />
  <SponsorsWrapper sponsors={organizedBy} />
</section>

<style>
  section {
    padding: clamp(6.25rem, 5.492rem + 3.236vw, 9.375rem) var(--app-padding);
  }

  .title {
    text-align: center;
    font-family: var(--primary-font);
    font-size: clamp(2.25rem, 2.159rem + 0.388vw, 2.625rem);
    letter-spacing: 1px;
    padding-block-end: 42px;
  }
</style>
